.footer {
    .footer-warapepr {
        padding: 2rem;
    }
    .navbar-nav {
        li {
            padding: 0 1rem;
            font-size: 14px;
            opacity: 0.9;
            .nav-link { 
                padding: 0 0.5rem;
            }
        }
    }
    address {
        display: contents;
        p {
            opacity: 0.9;
            margin-bottom: 1.7rem;
            font-size: 14px;
            span {
                display: flex;
                align-items: center;
            }
        }
        .social-media {
            a {
                text-decoration: none;
                padding: 0 0.8rem;
            }
        }
    }
    .footer-copyright {
        p {
            font-size: 14px;
        }
        span {
            margin:0;
            opacity: 0.8;
        }
    }
}