%logo {
    background-repeat: no-repeat;
    height: 66px;
    width: 165px;
}
.topbar {

    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    .navbar-collapse {

        background: #ffff;
        padding: 1rem;
        border-radius: 0.5rem;

        @media screen and (max-width: 768px) { 
            .btn-outline-default { 
                background-color: var(--bs-info);
            }
        }

        
        .btn-outline-default {
            color: var(--bs-white);

            &:hover {
                color: #000000;
            }
        }

        .navbar-nav .nav-item .nav-link  {

            color: #000;
            font-family: var(--bs-font-poppins);
            font-size: 14px;
            font-weight: 300;

            @media screen and (min-width: 768px) { 
                color: #eae3e3;
            }
            &:hover { 
                transition: 0.5s;
                opacity: 0.5;
            }
        }
        .navbar-nav .nav-item .nav-link.active  { 
            opacity: 0.5;
        }
        .dropdown-toggle span {
            color:#000;
        }
    } 
    

    @media screen and (min-width: 768px) { 
        .navbar-collapse {
            padding: 0;
            background: transparent;

            .navbar-nav .nav-item .nav-link  {
                color: #fff;
            }
            .dropdown-toggle span {
                color:#fff;
            }
        }
    }

    .img-logo {
        background-image: url('../../assets/img/logo-white.svg');
        @extend %logo;
    }
}

.topbar.topbar-fixed {

    position: sticky;
    background: var(--bs-white);
    transition: 0.3s;
    box-shadow: 0px 2px 20px #00000014;

    .img-logo {
        background-image: url('../../assets/img/logo.png');
        @extend %logo;
    }

   

    @media screen and (min-width: 768px) {
        .navbar-nav .nav-item .nav-link  {
            color: var(--bs-dark);
        }    
    }

    .navbar-nav .nav-item .nav-link.active  { 
        color: var(--bs-orange);
        opacity: 1;
    }
    
    .dropdown-toggle {
        color:#000;
        span {
            color:#000;
        } ;
    }

   

    .btn-outline-default {
        background-color: var(--bs-info);
        border-color:var(--bs-info);
        color: var(--bs-white);
        
        &:hover {
            background-color:#42d5ff;
            color: var(--bs-white);
        }
    }

}

.top-navbar {
    min-height: 75px;
}