.carousel-indicators {

    [data-bs-target] {
       border-radius: 50%;
       background-color: transparent;
    }
}

.carousel-indicators.orange { 
    [data-bs-target] {
       border: 2px solid var(--bs-orange); 
    }
    
    .active {
        background-color: var(--bs-orange);
    }
}
.carousel-indicators.info { 
    [data-bs-target] { 
        border: 2px solid var(--bs-info); 
    }
    .active {
        background-color: var(--bs-info);
    }
}
.section-users {
    
    width: 100%;
    background-image: url('../../assets/img/bg-users.svg');
    background-size: cover;

    .section-card {
        position: relative;
        bottom: 70px;
    }

    .text-number {
        font-size: 2.5rem;
        font-family: 'DM Sans', sans-serif;
    }
    .text-description {
        font-size: 1.2rem;
        width: 250px;
    }
}

//---- Start carousel customers ------------------->
.customers {
    
    .carousel-indicators {
        bottom: 20px;
        @media screen and(min-width: 768px) {
            bottom: 60px;
        }
    }

    .carousel-inner {

        .carousel-title {
            position: absolute;
            z-index: 1;
            width: 100%;
            h2 {
                width: 230px;
                @media screen and(min-width: 768px) {
                    width: 240px;
                }
            }
        }
       
        .carousel-img {
            width: 100%;
            height: 390px;
            object-fit: cover;
        }

        .carousel-item {
            h3 {
                margin-bottom: 6rem;
            }

            .carousel-caption {
            
                padding: 3rem 2rem;
                left: 0 !important;
                right: 0 !important;
                
                h2 {
                    letter-spacing: 0.5px;
                    @media screen and(min-width: 768px) {
                        width: 328px;    
                    }
                }        
            }
        }

    }
}


// --------------------------------------------
.information-warapper {
    position: relative;
    width: 100%;
    .image-banner {
        position: absolute;
        background-image: url('../../assets/img/banner-2.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 280px
    }
    @media screen and(min-width: 768px) {
        .card {
            width: 580px;
            box-shadow: 0px 4px 80px #00000014;
        }
    }
    
}
.card-body {
    .avatar { 
        max-width: 60px;
    }
    .card-separator {
        margin-bottom: 1rem;
        top: 60%;
        right: 0;
        width: 90%;
        &::after {
            content: "";
            display: flex;
            background: #80808021;
            height: 1px;
            width: 100%;
        }
    }
}



