  .loader-content {

    position: fixed;
    background-image: url('../assets/img/loader-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    
    .loader-waraper {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .progress {
      
      margin-top: 0.5rem;  
      width: 20%;

      @media screen and(min-width: 769px){    
        width: 7%;
      }
      
      height: 5px;
      background:#acacac;
    }

    .progress-bar {
        background: #ffff;
    }
}   

.hide-scroll {
  overflow: hidden;
}