  .loader-content {

    position: fixed;
    background-image: url('../../assets/img/loader.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    
    .loader-wareper {
      width: 100%;
      height: 100%;
      background-color: #00000094;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .loader-icon {
        width: 50px;
        height: 55px;
        margin-bottom: 1rem;
        background-image: url('../../assets/img/logo-white.svg');
        animation: icon-load 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        opacity: 1;
      }
    }
    .progress {
        width: 7%;
        height: 5px;
        background:#acacac;
    }
    .progress-bar {
        background: #ffff;
    }
}   

.hide-scroll {
  overflow: hidden;
}


@keyframes icon-load {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  33% {
    transform: scale(1);
  }
  66% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
    opacity: 0.1;
  }
}



