.swiper-contract-service {
    .card {
        .card-body {
            .price {
                border-bottom:1px solid rgb(255, 255, 255);
            }
        }
    }
}
.card-profile {
    .edit-profile {
        position: absolute;
        left: 65%;
        a {
            color: $black;
            font-weight: 500;
        }
    }
    .card-detail {
        border-top: 1px solid #d3cacade;
        border-bottom: 1px solid #d3cacade;
        
        .item span {

            &:first-child {
                min-width: 150px;
            }
            &:last-child {
                // color: var(--bs-info);
                color: #31C5F0;
            }
        }
    }
}
.alert-danger {
    color: #ED6A5E;
}
.dropdown-input {
    border: 0;
    padding: 0.8rem 1.5rem;
    width: 100%;
    @media screen and(min-width:769px) {
        width: 370px;
    }
    &::after {
        color: var(--bs-info);
        @media screen and(min-width:769px) { 
            position: absolute;
            right: 15px;
            top: 22px;
        }
    }
}

//modal contratar servicio
.nav-pills  {
    .nav-item button {
        border-radius: 0;
        padding: 0.7rem 1.5rem;
        font-weight: 500;
        &:hover {
            color: var(--bs-black);
        }
    }
    .nav-link.active {
        color: var(--bs-white) !important;
    }
    .nav-item:first-child button {
        border-radius: 5px 0px 0 5px;
    }
    .nav-item:last-child button {
        border-radius: 0 5px 5px 0;
    }
}