.slider { 

    //home
    .banner-img-home {
        width: 100%;
        // background-image: url('../../assets/img/banner-1.png');
        object-fit: cover;
        background-repeat: no-repeat;
        height: 500px;
        @media screen and(min-width: 769px){    
            height: 700px;
        }
    }

    // contact
    .banner-img-contact { 
        background-image: url('../../assets/img/banner-2.png');
        background-repeat: round;
        width: 100%;
        z-index: -1;
        // padding: 12rem 0 0rem 0;
        height: 150px;
        @media screen and(min-width: 769px){    
            padding: 20rem 0 0rem 0;
        }
        
    }

    .slide-img-banner {
        // position: absolute;
        width: 100%;
        z-index: -1;
        
        @media screen and(max-width: 769px){    
            height: 365px;
            object-fit: cover;
        }
    }

    //aout use
    .slide-img-about-use {
        position: absolute;
        width: 100%;
        z-index: -1;
        
        @media screen and(max-width: 769px){    
            height: 365px;
            object-fit: cover;
        }
    }

    .slide-content {
        
        padding-top: 5rem;

        @media screen and(min-width: 768px){    
            padding-top: 12rem;
        }
        
    }
    .slide-content.content-img-slider {
        min-height: 365px;
    };
    
    .carousel-item {

        .img-carousel {
            height: 660px;
        }

        .carousel-caption {

            h1 {

                letter-spacing: 2px;
                width: 100%;
                
                @media screen and(max-width: 768px){ 
                    font-size: 20px;
                }
                @media screen and(min-width: 720px){

                    font-size: 55px;
                    // max-width: 660px;
                    line-height: 75px;    

                }
                
            } 

            button {
                background: #FC931B;
                color: white;
                border-radius: 2rem;
                padding-left: 2rem;
            }  

        }
    }
    
}
.slider.slide-img {
    background-image: url('../../assets/img/banner-3.png');
    background-repeat: round;
    width: 100%;
    z-index: -1;
}

.carousel-caption {
    top: 0;
    height: 100%;
}

.carousel-control-next {
    &:hover {
        .carousel-control-next-icon {
            transition: 0.5s;
            background-image: url('../../assets/img/btn-next-hover.svg');
        }
    }
}
.carousel-control-prev {
    &:hover {
        .carousel-control-prev-icon {
            transition: 0.5s;
            background-image: url('../../assets/img/btn-prev-hover.svg');
        }
    }
}

