@function prefix-mp($property) {
    @if $property == margin {
        @return  'm';
    }
    @if $property == padding {
        @return  'p';
    }
}

//padding and margins
/*
    Use class: p-p or m-m and  prefix t, r, b, l --> value 0 to 10
    example: p-p-0 , p-pt-5  ---  m-m-2 , m-ml-3
*/

$max: 10; $offset: 1; $unit: 'rem'; 
$sides: (x ,y, all, top, bottom, left, right);

@mixin padding-margin($property) {
    
    $i: 0;

    $prefix: prefix-mp($property);

    @while $i <= $max {

        @each $side in $sides {
            @if $side == all {
                .#{$prefix}-#{$prefix}-#{$i} { 
                    #{$property}: #{$i + $unit} !important;
                }
            }
            @if $side == x {
                .#{$prefix}-#{$prefix}x-#{$i} { 
                    #{$property}-left: #{$i + $unit} !important;
                    #{$property}-right: #{$i + $unit} !important;
                }
            }
            @if $side == y {
                .#{$prefix}-#{$prefix}y-#{$i} { 
                    #{$property}-top: #{$i + $unit} !important;
                    #{$property}-bottom: #{$i + $unit} !important;
                }
            }
            @if $side == right {
                .#{$prefix}-#{$prefix}r-#{$i} { 
                    #{$property}-#{$side}: #{$i + $unit} !important;
                }
            }
            @if $side == top {
                .#{$prefix}-#{$prefix}t-#{$i} { 
                    #{$property}-#{$side}: #{$i + $unit} !important;
                }
            }
            @if $side == bottom {
                .#{$prefix}-#{$prefix}b-#{$i} { 
                    #{$property}-#{$side}: #{$i + $unit} !important;
                }
            }
            @if $side == left {
                .#{$prefix}-#{$prefix}l-#{$i} { 
                    #{$property}-#{$side}: #{$i + $unit} !important;
                }
            }
            @if $side == right {
                .#{$prefix}-#{$prefix}r-#{$i} { 
                    #{$property}-#{$side}: #{$i + $unit} !important;
                }
            }
        }

        $i: $i + $offset;
    } 
}

@include padding-margin('margin');
@include padding-margin('padding');


// .mt-3-5 {
//     margin-top: 3.5rem;
// }

.fw-500 {
    font-weight: 500 !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.p-fw-500 {
    p {
        font-weight: 500 !important;
    }
}
.rounded-4 {
    border-radius: 0.4rem !important;
}
.rounded-5 {
    border-radius: 0.5rem !important;
}
.rounded-1r {
    border-radius: 1rem !important;
}
.rounded-t-5 {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}
.rounded-b-5 {
    border-radius: 0 0 0.5rem 0.5rem !important;
}
.margin-0 {
    margin: 0px !important;
}
.list-style-none {
    list-style: none !important;
}
.font-fabfeltscrip {
    font-family:"fabfeltscript-bold";
    text-transform:none;
    font-size: 30px !important;
}
.fs-5px {
    font-size: 5px !important;
}
.fs-6px {
    font-size: 6px !important;
}
.fs-7px {
    font-size: 7px !important;
}
.fs-8px {
    font-size: 8px !important;
}
.fs-9px {
    font-size: 9px !important;
}
.fs-9px {
    font-size: 9px !important;
}
.fs-10px {
    font-size: 10px !important;
}
.fs-11px {
    font-size: 11px !important;
}
.fs-12px {
    font-size: 12px !important;
}
.fs-13px {
    font-size: 13px !important;
}
.fs-14px {
    font-size: 14px !important;
}
.fs-15px {
    font-size: 15px !important;
}
.fs-16px {
    font-size: 16px !important;
}
.fs-17px {
    font-size: 18px !important;
}

.fs-25px {
    font-size: 25px !important;
}
.fs-70px {
    font-size: 70px !important;
}

.fs-i-lg {
    font-size: 50px !important;
}

.w-35 {
    width: 35% !important;
}
.w-50 {
    width: 50% !important;
}
.w-55 {
    width: 55% !important;
}
.w-60 {
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}
.w-70 {
    width: 70% !important;
}
.w-75 {
    width: 75% !important;
}
.w-80 {
    width: 80% !important;
}
.w-85 {
    width: 85% !important;
}
.w-90 {
    width: 90% !important;
}
.w-95 {
    width: 95% !important;
}
.w-100 {
    width: 100% !important;
}


.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and(min-width: 720px ) {
    .w-sm-100 {
        width: 100% !important;
    }
}

@media screen and(min-width: 769px ) {
    .w-md-35 {
        width: 35% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-55 {
        width: 55% !important;
    }
    .w-md-60 {
        width: 60% !important;
    }
    .w-md-65 {
        width: 65% !important;
    }
    .w-md-70 {
        width: 70% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .w-md-80 {
        width: 80% !important;
    }
    .w-md-85 {
        width: 85% !important;
    }
    .w-md-90 {
        width: 90% !important;
    }
    .w-md-95 {
        width: 95% !important;
    }
    .w-md-100 {
        width: 100% !important;
    }

 //paddings 
    .p-p-md-1 {
        padding: 1rem !important;
    }
    .p-p-md-2 {
        padding: 2rem !important;
    }
    .p-p-md-3 {
        padding: 3rem !important;
    }
    .p-p-md-4 {
        padding: 4rem !important;
    }
    .p-p-md-5 {
        padding: 5rem !important;
    }
    .p-pt-md-12 {
        padding-top: 12rem !important;
    }
    .p-pt-md-8   {
        padding-top: 8rem !important;
    }
    .p-px-md-1-5 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .p-px-md-6 {
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .p-px-md-7 {
        padding-right: 7rem;
        padding-left: 7rem;
    }

    //margins

    .m-mb-md-0 {
        margin-bottom: 0rem !important;
    }
    .m-mr-md-6 {
        margin-right: 6rem !important;
    }
    .m-mb-md-5 {
        margin-bottom: 5rem !important;
    }

    


    .m-mt-md-3 {
        margin-top: 3rem !important;
    }

    // heights
    .h-md-100 {
        height: 100% !important;
    }

    //sizez
    .fs-md-105px {
        font-size:105px;
    }
}
@media screen and(min-width: 992px ) {
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-55 {
        width: 55% !important;
    }
    .w-lg-60 {
        width: 60% !important;
    }
    .w-lg-65 {
        width: 65% !important;
    }
    .w-lg-70 {
        width: 70% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-80 {
        width: 80% !important;
    }
    .w-lg-85 {
        width: 85% !important;
    }
    .w-lg-90 {
        width: 90% !important;
    }
    .w-lg-95 {
        width: 95% !important;
    }
    .w-lg-100 {
        width: 100% !important;
    }

     //paddings 
    .p-p-lg-1 {
        padding: 1rem !important;
    }
    .p-p-lg-2 {
        padding: 2rem !important;
    }
    .p-p-lg-3 {
        padding: 3rem !important;
    }
    .p-p-lg-4 {
        padding: 4rem !important;
    }
    .p-p-lg-5 {
        padding: 5rem !important;
    }
}   

@media screen and(min-width: 1201px ) { 
    .w-xl-50 {
        width: 50% !important;
    }
    .w-xl-55 {
        width: 55% !important;
    }
    .w-xl-60 {
        width: 60% !important;
    }
    .w-xl-65 {
        width: 65% !important;
    }
    .w-xl-70 {
        width: 70% !important;
    }
    .w-xl-75 {
        width: 75% !important;
    }
    .w-xl-80 {
        width: 80% !important;
    }
    .w-xl-85 {
        width: 85% !important;
    }
    .w-xl-90 {
        width: 90% !important;
    }
    .w-xl-95 {
        width: 95% !important;
    }
    .w-xl-100 {
        width: 100% !important;
    }

    //paddings 

    .p-p-xl-0 {
        padding: 0rem !important;
    }
    .p-p-xl-0-5 {
        padding: 0.5rem !important;
    }
    .p-p-xl-1 {
        padding: 1rem !important;
    }
    .p-p-xl-1-5 {
        padding: 1.5rem !important;
    }
    .p-p-xl-2 {
        padding: 2rem !important;
    }
    .p-p-xl-3 {
        padding: 3rem !important;
    }
    .p-p-xl-3 {
        padding: 3rem !important;
    }
    .p-p-xl-4 {
        padding: 4rem !important;
    }
    .p-p-xl-5 {
        padding: 5rem !important;
    }
}


//roundeds
.rounded-left-3 {
    border-radius: 0.3rem 0 0 0.3rem;
}
.rounded-7 {
    border-radius: 1.5rem !important;
}

.position-top {
    position: absolute;
    top: 0;
    width: 100%;
}

.active-info {
    color: var(--bs-info) !important;
}
.active-orange {
    color: var(--bs-orange) !important;
}
.white{
    color: #ffffff !important;
}

//texts
.text-justify {
    text-align: justify !important;
}
.lh-1 {
    line-height: 1;
}
.lh-1-4 {
    line-height: 1.4;
}
.lh-1-8 {
    line-height: 1.8;
}

//Colors
.text-gray {
    color: #6c757d9e; 
}

.op-8 {
    opacity: 0.8 !important;
}
.op-9 {
    opacity: 0.9 !important;
}

.modal-open {
    padding-right: 17px;
}

.object-fit-cover {
    object-fit: cover;
}