//Buttonss
%btnround {

    width: 25px;
    height: 26px;
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 8px #0000001a;
    transition: 0.3s all ease-out;

    border: {
        radius: 50%;
        style: solid;
    }

    &:hover {
        cursor: pointer;
    }
}


.btn-rounded { 
    &-default {
        @extend %btnround;
        background: var(--bs-white);
        border: 1px solid #e9e3e3;
        color: #AAAAAA;
        &:hover {
            background: #31C5F0;
            color: var(--bs-white) !important;
        }
    }
    &-info {
        @extend %btnround;
        background: var(--bs-info);
        border: 1px solid var(--bs-info);
        color: var(--bs-white);
        &:hover {
            background: #29b3db;
        }
    }
}

.btn-outline-info {
    &:hover {
        color: var(--bs-white);
    }
}
//End Buttonss
ul li {
    cursor: pointer;
}
.section .icon {
    color: var(--bs-info);
    font-size: 13px;
}

.gst-container {
    padding: 2rem 2rem;

    @media screen and(min-width:768px ) {
        padding: 4rem 2rem;
        width: 95%;
        margin-left:auto;
        margin-right:auto;
    }
}
.gst-container.gst { 
    @media screen and(min-width:768px ) {
        width: 88%;
    }
}

.section-review {
    .icon-quotation-mark {
        z-index: 1;
        position: absolute;
        top: 4px;
        left: 35px;
    }

    @media screen and(min-width:768px ) {
        .icon-quotation-mark {
            top: -8px;
        }
    }

    .card-body {
        p {
            min-height: 97px;
        }
    }
}

// section-detail-services
.section-detail-services {
    position: relative;
    width: 80%;
    background: white;
    margin-left:auto;
    margin-right:auto;
    bottom: 30px;
    @media screen and(min-width:768px ) {
        bottom: 100px;
    }
}

// section-ds-security
.section-ds-security {
    margin-left:auto;
    margin-right:auto;
}

//Modals
.modal-body {
    .modal-icon {
        font-size: 4rem;
    }
    .icon-success {
        color: #62c555;
    }
    .icon-close {
        color: #ed6a5e;
    }
}

//form edit profile
.form-edit-profile label {
    min-width: 160px;
}

hr {
    background:#9a9a9a;
}

.icon {
    color : var(--bs-info);
    font-size: 3rem;
}

select {
    cursor: pointer;
    option {
        cursor: pointer;
    }
}

//icons 
.i-movil::after {
    content: url(/assets/img/icons/movil.svg);
}
.i-Inplant::after {
    content: url(/assets/img/icons/Inplant.svg);
}
.i-whatsApp::after {
    content: url(/assets/img/icons/whatsApp.svg);
}
.i-mail::after {
    content: url(/assets/img/icons/mail.svg);
}
.i-check::after {
    line-height: 0;
    content: url(/assets/img/icons/check.svg);
}

//modals
.modal-body {
    max-height: 80vh;
    overflow: auto;
}


//tooltip
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
    opacity: 1 !important;
    border:2px solid white;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
    &:hover {
        border-color: var(--bs-info);
    }
}
@media screen and(max-width:1024px ) {    
    .tooltip .default  {
        min-width:200px; 
        top:-20px;
        left:50%;
        transform:translate(-50%, -100%);
        padding:10px 20px;
        color:#ffffff;
        background-color:var(--bs-info);
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        visibility:hidden; opacity:0; transition:opacity 0.8s;
    }
    .tooltip:hover .default  {
        visibility:visible; opacity:1;
    }
    .tooltip .default i {
        position:absolute;
        top:100%;
        left:50%;
        margin-left:-12px;
        width:24px;
        height:12px;
        overflow:hidden;
    }
    .tooltip .default i::after{
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        transform:translate(-50%,-50%) rotate(45deg);
        background-color:var(--bs-info);
    }
}

//left
@media screen and(min-width:1025px) {    
    .tooltip .left {
        min-width:280px; 
        top:50%;
        right:100%;
        margin-right:20px;
        transform:translate(0, -50%);
        padding:10px 20px;
        color:#FFFFFF;
        background-color: var(--bs-info);
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        visibility:hidden; opacity:0; transition:opacity 0.8s;
    }
    .tooltip:hover .left {
    visibility:visible; opacity:1;
    }
    .tooltip .left i {
        position:absolute;
        top:50%;
        left:100%;
        margin-top:-12px;
        width:12px;
        height:24px;
        overflow:hidden;
    }

    .tooltip .left i::after {
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:0;
        top:50%;
        transform:translate(-50%,-50%) rotate(-45deg);
        background-color:var(--bs-info);
    }

    .tooltip .right {
        min-width:200px; 
        top:50%;
        left:100%;
        margin-left:20px;
        transform:translate(0, -50%);
        padding:10px 20px;
        color:#ffffff;
        background-color:var(--bs-info);
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        visibility:hidden; opacity:0; transition:opacity 0.8s;
    }
    .tooltip:hover .right {
        visibility:visible; opacity:1;
    }
    .tooltip .right i {
        position:absolute;
        top:50%;
        right:100%;
        margin-top:-12px;
        width:12px;
        height:24px;
        overflow:hidden;
    }
    .tooltip .right i::after {
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:0;
        top:50%;
        transform:translate(50%,-50%) rotate(-45deg);
        background-color:var(--bs-info);
    }

    .tooltip .bottom {
        min-width:200px; 
        bottom: -30%;
        left:50%;
        transform:translate(-50%, 0);
        padding:10px 20px;
        color:#ffffff;
        background-color:var(--bs-info);
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        visibility:hidden; opacity:0; transition:opacity 0.8s;
    }

    .tooltip:hover .bottom {
        visibility:visible; opacity:1;
    }

    .tooltip .bottom i {
        position:absolute;
        bottom:100%;
        left:50%;
        margin-left:-12px;
        width:24px;
        height:12px;
        overflow:hidden;
    }

    .tooltip .bottom i::after {
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        transform:translate(-50%,50%) rotate(45deg);
        background-color:var(--bs-info);
    }

    .tooltip .top {
        min-width:200px; 
        top:-20px;
        left:50%;
        transform:translate(-50%, -100%);
        padding:10px 20px;
        color:#ffffff;
        background-color:var(--bs-info);
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        visibility:hidden; opacity:0; transition:opacity 0.8s;
    }
    .tooltip:hover .top {
        visibility:visible; opacity:1;
    }
    .tooltip .top i {
        position:absolute;
        top:100%;
        left:50%;
        margin-left:-12px;
        width:24px;
        height:12px;
        overflow:hidden;
    }
    .tooltip .top i::after {
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        transform:translate(-50%,-50%) rotate(45deg);
        background-color:var(--bs-info);
    }
}

//End tooltip


//responsive
@media screen and(max-width:768px ) { 
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}