//Buttonss
%btnround {

    width: 25px;
    height: 26px;
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 8px #0000001a;
    transition: 0.3s all ease-out;

    border: {
        radius: 50%;
        style: solid;
    }

    &:hover {
        cursor: pointer;
    }
}


.btn-rounded { 
    &-default {
        @extend %btnround;
        background: var(--bs-white);
        border: 1px solid #e9e3e3;
        color: #AAAAAA;
        &:hover {
            background: #31C5F0;
            color: var(--bs-white) !important;
        }
    }
    &-info {
        @extend %btnround;
        background: var(--bs-info);
        border: 1px solid var(--bs-info);
        color: var(--bs-white);
        &:hover {
            background: #29b3db;
        }
    }
}

.btn-outline-info {
    &:hover {
        color: var(--bs-white);
    }
}
//End Buttonss

.section .icon {
    color: var(--bs-info);
    font-size: 13px;
}

.gst-container {
    padding: 2rem 2rem;

    @media screen and(min-width:768px ) {
        padding: 4rem 2rem;
        width: 95%;
        margin-left:auto;
        margin-right:auto;
    }
}
.gst-container.gst { 
    @media screen and(min-width:768px ) {
        width: 88%;
    }
}

.section-review {
    .icon-quotation-mark {
        z-index: 1;
        position: absolute;
        top: 4px;
        left: 35px;
    }

    @media screen and(min-width:768px ) {
        .icon-quotation-mark {
            top: -8px;
        }
    }

    .card-body {
        p {
            min-height: 97px;
        }
    }
}

//Services
.section-services {
    .btn-rounded-default {
        position: absolute;
        left: calc((100% - 50%) - 1.5rem);
        top: -23px
    }
    .card {
        min-height: 290px;
        .card-body { 
            position: relative;
            bottom: -18px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            
            .link-read-more { 
                visibility: hidden;
                transition: all 0.5s linear;
                opacity: 0;
            }

            p {
                opacity: 0.8;
            }
        }
        
        &:hover {
            background: var(--bs-white) !important;
            box-shadow: 0px 4px 80px #00000014;
            .card-body { 
                bottom: 10px;
            }
            .link-read-more {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    
}

//section section-benefits
.section-benefits {
    .bg-benefits {
        height: 660px;
        transition: 0.5s;
        z-index: 0;
    }

    
    .carousel-benefit-list li {
        cursor: pointer;
    }
    // .carousel-list li.active {
    //     color: var(--bs-orange) !important;
    // }
}

// section-detail-services
.section-detail-services {
    position: relative;
    width: 80%;
    background: white;
    margin-left:auto;
    margin-right:auto;
    bottom: 30px;
    @media screen and(min-width:768px ) {
        bottom: 100px;
    }
}
// section-ds-security
.section-ds-security {
    margin-left:auto;
    margin-right:auto;
}


//Modals

.modal-body {
    .modal-icon {
        font-size: 4rem;
    }
    .icon-success {
        color: #62c555;
    }
    .icon-close {
        color: #ed6a5e;
    }
}

//form edit profile
.form-edit-profile label {
    min-width: 160px;
}

hr {
    background:#9a9a9a;
}

.section-card .icon {
    color    : var(--bs-info);
    font-size: 3rem;
}

select {
    cursor: pointer;
    option {
        cursor: pointer;
    }
}

//responsive
@media screen and(max-width:768px ) { 
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}

