
.icon-edit:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-setting:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-success:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-research:before { content: '\e806'; } /* '' */
.icon-alert:before { content: '\e807'; } /* '' */
.icon-audit:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-matrix:before { content: '\e80a'; } /* '' */
.icon-document:before { content: '\e80b'; } /* '' */
.icon-risk:before { content: '\e80c'; } /* '' */
.icon-monitor:before { content: '\e80d'; } /* '' */
.icon-training:before { content: '\e80e'; } /* '' */
.icon-quotation-mark:before { content: '\e80f'; } /* '' */
.icon-arrow-left:before { content: '\e810'; } /* '' */
.icon-arrow-rigth:before { content: '\e811'; } /* '' */
.icon-youtube:before { content: '\e812'; } /* '' */
.icon-linkedin:before { content: '\e813'; } /* '' */
.icon-instagram:before { content: '\e814'; } /* '' */
.icon-facebook:before { content: '\e815'; } /* '' */
.icon-vision:before { content: '\e816'; } /* '' */
.icon-email:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e818'; } /* '' */
.icon-location:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-security:before { content: '\e81b'; } /* '' */
.icon-work-experience:before { content: '\e81c'; } /* '' */
.icon-mission:before { content: '\e81d'; } /* '' */
.icon-play:before { content: '\e81e'; } /* '' */
.icon-whatsapp:before { content: '\e81f'; } /* '' */
.icon-arrow-down:before { content: '\e820'; } /* '' */
.icon-arrow-above:before { content: '\e821'; } /* '' */
.icon-centric:before { content: '\e822'; } /* '' */
.icon-integrity:before { content: '\e823'; } /* '' */
.icon-management:before { content: '\e824'; } /* '' */
.icon-software:before { content: '\e825'; } /* '' */